
body {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    height: 100%;
    margin-inline: auto;
    background: url(./BackgroundGridCubes.webp), linear-gradient(#ff0000 50%, #490000);
    background-position: center;
}


/* Normal screen size */
@media (min-width:1332px){
    body {
    width: 1332px;
    }
    .test {
    width: 100%;
    height: 512px;
    background-color: blue;
    background-image: url(./1_Prof-Insta.png);
    background-size: cover;
    }
}

/* Too close screen size */
@media (max-width:1332px){
    body {
    width: 100%;
    }
    .test {
    width: 100%;
    height: 512px;
    background-color: red;
    background-size: cover;
    }
}

/* Phone screen size */
@media (max-width:640px){
    body {
    width: 100%;
    }
    .test {
    width: 100%;
    height: 512px;
    background-color: green;
    background-size: cover;
    }
}




header {
    height: 70px;
    margin-bottom: 4px;

    display: flex;
    align-items: center;
    justify-content: end;
}

header img:first-child {
    justify-content: start;
    margin-right: auto;
}

.SearchBarConteiner {
    display: flex;
    align-items: stretch;
    height: 40px;
    width: 40%;
}

#SearchBar{
    width: 100%;
    border-right: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 10px;
}

.SearchIcon {
    aspect-ratio: 1 / 1;
    width: 24px;
}

#SearchBarButton {
    aspect-ratio: 1 / 1;
    padding: 0;
    border-left: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
}

.icon {
    aspect-ratio: 1/1;
    width: 32px;
    padding: 10px;
}



.Shop-Content-Grid {
    padding: 0;
    margin: 0;
    background-color: darkgoldenrod;

    display: flex;
}

section {
    width: 256px;
    height: fit-content;
    padding-block: 32px;
    background-color: #bdb76b80;
}

main {
    width: 100%;
    height: 1920px;
    background-color: #ff7f5080;
}




footer {
    width: 100%;
    height: 96px;
    background-color: brown;
}




.ProductListing {
    width: fit-content;
    height: fit-content;
    margin: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: coral;
}

.ProductImage {
    width: 232px;
    height: 316px;
    object-fit: cover;
}

.ProductName {
    margin: 0;
    margin-top: 10px;
}

.ProductPriceTag {
    margin: 0;
}