.MainText {
    height: 1024px;

    padding: 50px;

    background-color: var(--clr-grey-01);
    border: solid var(--clr-grey-04) 1px;
    border-bottom: 0;
    box-shadow: inset  0 0 8px #00000075;
}

a {
    color: rgb(225, 60, 65);
}

p, h1, h2, h3, h4 {
    font-family: "Roboto-Regular";
}