button {
    border-radius: 8px;
    padding: 8px;

    color: white;    
    font-family: "OpenSans-Regular";
    font-size: 14px;

    border: #0a0a0a solid 1px;
    background-image: linear-gradient(#5a5a5a, #202020);
    box-shadow: inset  0 0 4px #000000, -1px 1px 1px #8181818f;

    transition: all 40ms;
}

#ButtonStyleFavorite, #ButtonStyleShare {
    aspect-ratio: 1/1;
    height: 37px;

    background-color: transparent;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    box-shadow: none;
}

#ButtonStyleShare {
    background-image: url(../Images/Icons/share_32dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg);
}

#ButtonStyleFavorite {
    background-image: url(../Images/Icons/favorite_32dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg);
}

button:hover {
    cursor: pointer;
}

button:active {
    color: #ffffff80;
    box-shadow: inset  0 0 8px #000000, 0 0 1px #8181818f;
}