button {
    border-radius: 8px;
    padding: 5px;

    color: white;    
    font-family: "OpenSans-Regular";
    font-size: 14px;

    border: #0a0a0a solid 1px;
    background-image: linear-gradient(#5a5a5a, #202020);
    box-shadow: inset  0 0 5px #000000, -1px 1px 1px #818181;

    transition: box-shadow 20ms;
}

button:active {
    box-shadow: inset  0 0 8px #000000, 0 0 1px #818181;
}