/*/
* {
    filter: grayscale(1);
}/*/

:root {
    --clr-hight-01: #FF5A5F;
    --clr-hight-02: #7189FF;
    --clr-hight-03: #4E148C;

    --clr-white: white;
    --clr-black: black;

    --clr-grey-01: #DBDDD0;
    --clr-grey-02: #A5ABA0;
    --clr-grey-03: #666666;
    --clr-grey-04: #4E514E;
}