section {
    background-size: 20px;
    background-position: center;

    background-color: var(--clr-grey-01);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
}

.BoxSticky {
    height: fit-content;
    padding-left: 20px;
    padding-block: 20px;
    background-color: var(--clr-grey-01);

    position: sticky;
    top: 0;

    border: solid 1px var(--clr-grey-04);
    border-right: none;

    display: flex;
    flex-direction: column;
}

.BoxSticky > p {
    font-family: "OpenSans-Regular";
    font-size: larger;
    font-weight: bold;
}



.HorizontalFlex {
    width: 100%;
    height: fit-content;

    margin-block: 4px;

    font-family: "OpenSans-Regular";

    display: flex;
    align-items: center;
}

.HorizontalFlex > input {
    aspect-ratio: 1/1;
    width: 18px;

    accent-color: var(--clr-hight-01);
}

.HorizontalFlex > label {
    margin-left: 8px;
}


.HorizontalJustifyFlex {
    width: 80%;
    height: fit-content;
    display: flex;

    font-family: "OpenSans-Regular";

    align-items: center;
    justify-content: space-between;
}

.HorizontalJustifyFlex > p {
    margin-block: 0;
}

.PriceInput {
    width: 80px;
    height: 26px;
}









.Category {
    background-color: var(--clr-grey-01);

    border: solid 1px var(--clr-grey-04);
    border-bottom: none;
}

.CategoryContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    padding-inline: 170px;
}

.CategoryContainer > p {
    padding: 20px;

    width: 100px;

    background-color: var(--clr-hight-01);
    border-radius: 8px;

    font-family: "Roboto-Regular";
    text-align: center;
    font-weight: bold;
    font-size: 17px;

    cursor: pointer;
}