footer {
    height: fit-content;
    padding-top: 28px;
    padding-bottom: 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid var(--clr-grey-04) 1px;
    background-image: linear-gradient(var(--clr-grey-02), var(--clr-grey-01) 30px, var(--clr-grey-02) 60px);
    box-shadow: inset  0 0 4px var(--clr-grey-01);

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.Footer_Line {
    display: flex;
    align-items: center;
    height: 36px;
}

.FooterLinks {
    margin: 10px;
    color: black;
    font-family: "Roboto-Regular";
    text-decoration: none;

    transition: all 100ms;
}

.FooterLinks:hover {
    margin: 8px;
    color: var(--clr-hight-03);
    font-size: 20px;
    text-decoration: underline;
}

.FooterText {
    color: #3b3b3b;
    font-family: "OpenSans-Regular";
    font-size: 12px;
}