.NavigationBar {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*/background-color: var(--clr-grey-03);/*/
}

@media (max-width:1332px){
    .NavigationBar {
        padding: 10px;
    }
}

.NavigationBar > nav {
    display: flex;
    align-items: center;
}

.Logo {
    image-rendering: pixelated;
}

.Nav_Searchbar {
    margin: 8px;
    padding-inline: 8px;
    height: 32px;
    width: 200px;

    border-radius: 6px;
    border: solid black 1px;
}

.Nav_Icon {
    aspect-ratio: 1/1;
    height: 32px;
    margin: 8px;

    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



#ShoppingCart {
    background-image: url(../Images/Icons/shopping_cart_32dp_E3E3E3_FILL0_wght400_GRAD0_opsz40.svg);
}

#Search {
    background-image: url(../Images/Icons/search_32dp_E3E3E3_FILL0_wght400_GRAD0_opsz40.svg);
}
