.ItemShowCase {
    height: fit-content;
    padding-block: 30px;

    background-color: var(--clr-grey-01);
    border: solid var(--clr-grey-04) 1px;
    border-bottom: 0;
    box-shadow: inset  0 0 8px #00000075;

    row-gap: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(234px,auto));
    justify-content: space-evenly;
}




.ItemDiscover {
    height: fit-content;
    padding-block: 30px;

    display: grid;
    grid-template-rows: repeat(auto-fill, auto-fill);

    background-color: var(--clr-grey-01);
    border: solid var(--clr-grey-04) 1px;
    border-bottom: 0;
    box-shadow: inset  0 0 8px #00000075;
}




.ItemScrollContiener {
    overflow: hidden;
    display: flex;
    align-items: center;
    
    position: relative;
}

.ItemScrollSelection {
    padding: 0;
    padding-block: 5px;
    margin: 0;

    width: auto;
    height: auto;

    scroll-behavior: smooth;

    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;

    --side-fade: 10px;
    mask-image: linear-gradient(to right,transparent 0, black var(--side-fade),black calc(100% - var(--side-fade)), transparent 100%);
}

.ItemScrollSelection::-webkit-scrollbar {
    display: none;
}

.ItemScrollSelection > .Product_Listing {
    scroll-snap-align: center;
    margin-inline: 10px;
}

.ItemScrollSelection > .Product_Listing:first-child {
    margin-left: 20px;
}

.ItemScrollSelection > .Product_Listing:last-child {
    margin-right: 20px;
}




.ItemsCategory {
    font-family: "OpenSans-Regular";
    margin: 20px;
    margin-bottom: 15px;
}

.ItemScrollButtonsArrow {
    display: flex;
    position: absolute;
    right: 0;
    width: auto;
    height: auto;
    justify-content: space-between;
}

.Right_Slider_Button {
    position: absolute;
    right: 0;
    font-family: "Roboto-Regular";
    font-size: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.Left_Slider_Button {
    position: absolute;
    left: 0;
    font-family: "Roboto-Regular";
    font-size: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}






.Product_Listing {
    width: fit-content;
    height: fit-content;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(var(--clr-grey-03), var(--clr-grey-04));
    box-shadow: inset  0 0 6px var(--clr-grey-01);
    border: solid var(--clr-grey-04) 1px;
    border-radius: 6px;

    transition: all 220ms;
}

.Product_Listing:hover {
    box-shadow: inset  0 0 6px var(--clr-grey-01), 0 0 6px var(--clr-grey-04);
}

.Product_Image {
    width: 200px;
    height: 200px;

    margin: 20px;
    margin-bottom: 0;

    image-rendering: auto;
    filter: drop-shadow(0 0 0.75rem black);

    object-fit: cover;
}

.Product_Name {
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 38px;

    text-align: center;
    
    color: var(--clr-white);
    font-family: "OpenSans-Regular";
    font-size: 16px;
}

.Product_Price_Tag {
    margin-inline: auto;
    margin-block: 5px;
    padding: 6px;
    padding-inline: 12px;

    background-color: var(--clr-hight-02);
    border-radius: 4px;

    color: black;    
    font-family: "OpenSans-Regular";
    font-size: 16px;
    font-weight: bolder;
}

.Product_Listing_Buttons {
    margin: 15px;
    margin-top: 5px;

    display: flex;
    align-items: center;
}