.container {
    display: grid;
    grid-template-areas:
    "header header"
    "Banner Banner"
    "section ItemDisplay"
    "footer footer";
    grid-template-columns: 1fr 4fr;

    background-color: grey;
}

.header {
    grid-area: header;
}

.Banner {
    grid-area: Banner;
}

.section {
    grid-area: section;
}

.ItemDisplay {
    grid-area: ItemDisplay;
}

.footer {
    grid-area: footer;
}