.container {
    display: grid;
    grid-template-areas:
    "NavigationBar"
    "Main"
    "footer";
    grid-template-columns: 1fr 3fr;

    background-color: grey;

    box-shadow: 0 0 16px black;
}

.NavigationBar {
    grid-area: NavigationBar;
}

.ItemDisplay {
    grid-area: Main;
}

.footer {
    grid-area: footer;
}