.container {
    display: grid;
    grid-template-areas:
    "NavigationBar NavigationBar"
    "section Main"
    "footer footer";
    grid-template-columns: 1fr 4fr;

    background-color: var(--clr-grey-04);

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    box-shadow: 0 0 16px black;
}

.NavigationBar {
    grid-area: NavigationBar;
}

.section {
    grid-area: section;
}

.Category {
    grid-area: Category;
}

main {
    grid-area: Main;
}

.footer {
    grid-area: footer;
}